@charset "UTF-8";
@font-face {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:focus {
  outline: 0;
}
img {
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
}
::selection {
  color: white;
  background: #3B3639;
}
::-moz-selection {
  color: white;
  background: #3B3639;
}
html {
  background-color: #fff;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.84);
}

#canva {
  position: relative;
  width: 90%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 150px;
}
article {
  width: 100%;
}
.preserve-whitespace {
  white-space: pre-wrap;
}
h1 {
  width: 100%;
  line-height: 1.25;
  letter-spacing: 0;
  color: rgba(0,0,0,.84);
  font-size: 42px;
  font-weight: normal;
  line-height: 1.35em;
  white-space: pre-wrap;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;

}
h2 {
  width: 100%;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.54);
  line-height: 1.22;
  margin-top: 20.23px;
  margin-bottom: 22px;
  font-weight: 300;
  letter-spacing: 0;
  font-size: 22px;
  line-height: 1.35em;
}
.paragraph {
  width: 100%;
  position: relative;
  font-family: Baskerville, Georgia, Cambria, "Times New Roman", Times, serif;
  color: rgb(41, 41, 41);
  font-weight: 200;
  font-size: 23px;
  line-height: 1.58;
  letter-spacing: -.003em;
  margin-top: 29px;
}
#tooltip {
  position: absolute;
  margin-left: -150px;
}
#tooltip-name {
  position: relative;
  width: 100px;
  float: left;
  margin-right: 20px;
  text-align: right;
  top: 20%;
}
#tooltip-name-p {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}
#tooltip-separator {
  width: 1px;
  position: relative;
  height: 100%;
  float: right;
  background-color: rgba(0, 0, 0, 0.15);
}
#tooltip-add-button {
  position: absolute;
  width: 28px;
  height: 28px;
  display: block;
  fill: rgba(0, 0, 0, 0.10);
  visibility: hidden;
  right: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%) rotate(-45deg);
  cursor: pointer;
  transition: transform 0.2s ease-out ;
}
#tooltip-add-button:hover {
  transform: translateY(-50%) rotate(-75deg);
}
h1[placeholder]:empty:before {
  content: attr(placeholder);
  color: rgb(179, 179, 177);
}
h1[placeholder]:empty:focus:before {
  content: "";
}
h2[placeholder]:empty:before {
  content: attr(placeholder);
  color: rgb(179, 179, 177);
}
h2[placeholder]:empty:focus:before {
  content: "";
}
p[placeholder]:empty:before {
  color: rgb(179, 179, 177);
  font-size: 17px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}
p[placeholder]:empty:focus:before {
  padding-top: 10px;
  content: "";
}
#tooltip-elements {
  position: absolute;
  display: flex;
  height: 30px;
  visibility: hidden;
  right: 0;
  margin-right: -160px;
  z-index: 11;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#tooltip-add-picture {
  width: 26px;
  cursor: pointer;
  margin: 0px 10px 0px 10px;
  fill: rgb(179, 179, 177);
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
#tooltip-add-picture:hover {
  fill: rgba(0, 0, 0, 0.54);
}
#tooltip-add-link {
  width: 26px;
  cursor: pointer;
  margin: 0px 10px 0px 10px;
  fill: rgb(179, 179, 177);
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
#tooltip-add-link:hover {
  fill: rgba(0, 0, 0, 0.54);
}
#tooltip-add-section {
  width: 26px;
  cursor: pointer;
  margin: 0px 10px 0px 10px;
  fill: rgb(179, 179, 177);
  opacity: 0;
  transition: opacity 0.4s ease-out;
}
#tooltip-add-section:hover {
  fill: rgba(0, 0, 0, 0.54);
}
.tooltip-add-picture-input {
  visibility: hidden
}
.gist-file {
  margin-top: 29px;
}
.image{
  width: 100%;
  margin-top: 29px;
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}
.image:hover{
  cursor: pointer;
  transform: scale(1.005);
  /*/box-shadow: 0 27px 46px 2px #DDDDDD/*/;
}
